<ul data-sort="1" data-group="进销存" data-groupsort="100" data-groupicon="fa fa-newspaper-o fa-fw">
    <li><a href="/"><i class="fa fa-home fa-fw"></i><span class="menutitle">DEMO首页</span></a></li>
    <li>
        <span><i class="fa fa-file-text-o fa-fw"></i><span class="menutitle">计划管理</span></span>
        <ul>
            <li><a href="/#/plan"><i class="fa fa-pencil-square-o fa-fw"></i><span class="menutitle">计划登记</span></a></li>
            <li>
                <span><i class="fa fa-building-o fa-fw"></i><span class="menutitle">项目管理</span></span>
                <ul>
                    <li ng-limit="project"><a href="/#/project"><i class="fa fa-legal fa-fw"></i><span class="menutitle">计划建项</span></a></li>
                    <li ng-limit="projectdocument"><a href="/#/projectdocument"><i class="fa fa-file-pdf-o fa-fw"></i><span class="menutitle">项目文档</span></a></li>
                    <li ng-limit="projectdocumentaudit"><a href="/#/projectdocumentaudit"><i class="fa fa-flag-checkered fa-fw"></i><span class="menutitle">文档审核</span></a></li>
                    <li ng-limit="projectpublish"><a href="/#/projectpublish"><i class="fa fa-feed fa-fw"></i><span class="menutitle">项目发布</span></a></li>
                    <li ng-limit="projectvendor"><a href="/#/projectvendor"><i class="fa fa-truck fa-fw"></i><span class="menutitle">项目供应商</span></a></li>
                    <li ng-limit="project"><a href="/#/projectquery"><i class="fa fa-binoculars fa-fw"></i><span class="menutitle">项目查询</span></a></li>
                </ul>
            </li>
            <li>
                <span><i class="fa fa-building-o fa-fw"></i><span class="menutitle">项目管理2</span></span>
                <ul>
                    <li ng-limit="project"><a href="/#/project"><i class="fa fa-legal fa-fw"></i><span class="menutitle">计划建项</span></a></li>
                    <li ng-limit="projectdocument"><a href="/#/projectdocument"><i class="fa fa-file-pdf-o fa-fw"></i><span class="menutitle">项目文档</span></a></li>
                    <li ng-limit="projectdocumentaudit"><a href="/#/projectdocumentaudit"><i class="fa fa-flag-checkered fa-fw"></i><span class="menutitle">文档审核</span></a></li>
                    <li ng-limit="projectpublish"><a href="/#/projectpublish"><i class="fa fa-feed fa-fw"></i><span class="menutitle">项目发布</span></a></li>
                    <li ng-limit="projectvendor"><a href="/#/projectvendor"><i class="fa fa-truck fa-fw"></i><span class="menutitle">项目供应商</span></a></li>
                    <li ng-limit="project"><a href="/#/projectquery"><i class="fa fa-binoculars fa-fw"></i><span class="menutitle">项目查询</span></a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>